@model IEnumerable<Project.Models.Login>

<section class="p-5">

    <h2>Lista de Usuários</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdUsuario</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Data</th>
                <th>Hora</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var login in Model)
            {
                <tr>
                    <td>@login.Id</td>
                    <td>@login.IdUsuario</td>
                    <td>@login.Email</td>
                    <td>@login.Senha</td>
                    <td>@login.Data</td>
                    <td>@login.Hora</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group pt-3">
        <a asp-controller="Login" asp-action="Logar" class="btn btn-warning">Voltar</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary bg-green">Home</a>
    </div>

</section>